{% extends "home/base.html" %} 
{% block content %}
<div class="section-index-slider" id="home-slider">
    <div class="container container-md-pd0">
        <div class="slider-owl owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-15000px, 0px, 0px); transition: all 0s ease 0s; width: 29250px;">
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-hp-victus" title="HP Victus 16">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_6_img.jpg" alt="HP Victus 16" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-gigabyte" title="LAPTOP GIGABYTE">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_7_img.jpg" alt="LAPTOP GIGABYTE" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/products/man-hinh-di-dong-lg-gram-16mq70-asda5-16-2k-wqxga-2560-x-1600-ips" title="Màn Hình Di Động LG Gram View">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_8_img.jpg" alt="Màn Hình Di Động LG Gram View" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/blogs/tin-khuyen-mai/qua-xin-ngap-troi-len-doi-lg-gram-moi-tu-ngay-1-10-31-12-2022" title="LG GRAM 2022 - LÊN ĐỜI GRAM MỚI">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_9_img.jpg" alt="LG GRAM 2022 - LÊN ĐỜI GRAM MỚI" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/pages/amd-lua-chon-hoan-hao-cho-nguoi-tich-hieu-nang?gidzl=FBBULJQ5s6qvgjPHC9dSQ3gfqLOhoOezSVk60It2YcWgeeLH9iUDFY3sXmnzbjer9wVH368_0JyACehJRW" title="Microsoft X AMD">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_10_img.jpg" alt="Microsoft X AMD" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/dien-thoai-asus-rog-phone" title="ROGPHONE">
                                    <picture>
                                        <img src="/static/js/slide_1_img.jpg" alt="ROGPHONE" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/blogs/tin-khuyen-mai/nhan-qua-chat-choi-vi-vu-muon-noi" title="">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_2_img.jpg" alt="" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-gigabyte" title="GIGIABYTE">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_4_img.jpg" alt="GIGIABYTE" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/pages/microsoft-official-store?gidzl=33GOKsiqwZC9B11NRIZkDWel4L9sUBvXGNr61N1plZGQ94LLUtQvOX1mHmWW9-vf5o4H269IDijIRplXC0" title="Microsoft">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_5_img.jpg" alt="Microsoft" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-hp-victus" title="HP Victus 16">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_6_img.jpg" alt="HP Victus 16" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/dien-thoai-asus-rog-phone" title="ROGPHONE">
                                    <picture>
                                        <img src="/static/js/slide_1_img.jpg" alt="ROGPHONE" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/blogs/tin-khuyen-mai/nhan-qua-chat-choi-vi-vu-muon-noi" title="">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_2_img.jpg" alt="" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-gigabyte" title="GIGIABYTE">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_4_img.jpg" alt="GIGIABYTE" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/pages/microsoft-official-store?gidzl=33GOKsiqwZC9B11NRIZkDWel4L9sUBvXGNr61N1plZGQ94LLUtQvOX1mHmWW9-vf5o4H269IDijIRplXC0" title="Microsoft">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_5_img.jpg" alt="Microsoft" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-hp-victus" title="HP Victus 16">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_6_img.jpg" alt="HP Victus 16" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-gigabyte" title="LAPTOP GIGABYTE">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_7_img.jpg" alt="LAPTOP GIGABYTE" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/products/man-hinh-di-dong-lg-gram-16mq70-asda5-16-2k-wqxga-2560-x-1600-ips" title="Màn Hình Di Động LG Gram View">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_8_img.jpg" alt="Màn Hình Di Động LG Gram View" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/blogs/tin-khuyen-mai/qua-xin-ngap-troi-len-doi-lg-gram-moi-tu-ngay-1-10-31-12-2022" title="LG GRAM 2022 - LÊN ĐỜI GRAM MỚI">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_9_img.jpg" alt="LG GRAM 2022 - LÊN ĐỜI GRAM MỚI" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/pages/amd-lua-chon-hoan-hao-cho-nguoi-tich-hieu-nang?gidzl=FBBULJQ5s6qvgjPHC9dSQ3gfqLOhoOezSVk60It2YcWgeeLH9iUDFY3sXmnzbjer9wVH368_0JyACehJRW" title="Microsoft X AMD">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_10_img.jpg" alt="Microsoft X AMD" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-hp-victus" title="HP Victus 16">
                                    <picture>
                                        <img class="owl-lazy" data-src="/static/js/slide_6_img.jpg" src="/static/js/slide_6_img.jpg" alt="HP Victus 16" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned active" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-gigabyte" title="LAPTOP GIGABYTE">
                                    <picture>
                                        <source
                                            class="owl-lazy"
                                            media="(max-width: 767px)"
                                            data-srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_7_mb.jpg?v=1528"
                                            srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_7_mb.jpg?v=1528"
                                        />
                                        <source
                                            class="owl-lazy"
                                            media="(min-width: 768px)"
                                            data-srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_7_img.jpg?v=1528"
                                            srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_7_img.jpg?v=1528"
                                        />
                                        <img
                                            class="owl-lazy"
                                            data-src="//theme.hstatic.net/1000233206/1000806987/14/slide_7_img.jpg?v=1528"
                                            src="//theme.hstatic.net/1000233206/1000806987/14/slide_7_img.jpg?v=1528"
                                            alt="LAPTOP GIGABYTE"
                                            style="opacity: 1;"
                                        />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/products/man-hinh-di-dong-lg-gram-16mq70-asda5-16-2k-wqxga-2560-x-1600-ips" title="Màn Hình Di Động LG Gram View">
                                    <picture>
                                        <source
                                            class="owl-lazy"
                                            media="(max-width: 767px)"
                                            data-srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_8_mb.jpg?v=1528"
                                            srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_8_mb.jpg?v=1528"
                                        />
                                        <source
                                            class="owl-lazy"
                                            media="(min-width: 768px)"
                                            data-srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_8_img.jpg?v=1528"
                                            srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_8_img.jpg?v=1528"
                                        />
                                        <img class="owl-lazy" data-src="//theme.hstatic.net/1000233206/1000806987/14/slide_8_img.jpg?v=1528" src="./index_files/slide_8_img.jpg" alt="Màn Hình Di Động LG Gram View" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/blogs/tin-khuyen-mai/qua-xin-ngap-troi-len-doi-lg-gram-moi-tu-ngay-1-10-31-12-2022" title="LG GRAM 2022 - LÊN ĐỜI GRAM MỚI">
                                    <picture>
                                        <source
                                            class="owl-lazy"
                                            media="(max-width: 767px)"
                                            data-srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_9_mb.jpg?v=1528"
                                            srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_9_mb.jpg?v=1528"
                                        />
                                        <source
                                            class="owl-lazy"
                                            media="(min-width: 768px)"
                                            data-srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_9_img.jpg?v=1528"
                                            srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_9_img.jpg?v=1528"
                                        />
                                        <img class="owl-lazy" data-src="//theme.hstatic.net/1000233206/1000806987/14/slide_9_img.jpg?v=1528" src="./index_files/slide_9_img.jpg" alt="LG GRAM 2022 - LÊN ĐỜI GRAM MỚI" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/pages/amd-lua-chon-hoan-hao-cho-nguoi-tich-hieu-nang?gidzl=FBBULJQ5s6qvgjPHC9dSQ3gfqLOhoOezSVk60It2YcWgeeLH9iUDFY3sXmnzbjer9wVH368_0JyACehJRW" title="Microsoft X AMD">
                                    <picture>
                                        <source
                                            class="owl-lazy"
                                            media="(max-width: 767px)"
                                            data-srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_10_mb.jpg?v=1528"
                                            srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_10_mb.jpg?v=1528"
                                        />
                                        <source
                                            class="owl-lazy"
                                            media="(min-width: 768px)"
                                            data-srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_10_img.jpg?v=1528"
                                            srcset="//theme.hstatic.net/1000233206/1000806987/14/slide_10_img.jpg?v=1528"
                                        />
                                        <img class="owl-lazy" data-src="//theme.hstatic.net/1000233206/1000806987/14/slide_10_img.jpg?v=1528" src="./index_files/slide_10_img.jpg" alt="Microsoft X AMD" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/dien-thoai-asus-rog-phone" title="ROGPHONE">
                                    <picture>
                                        <img src="/static/js/slide_1_img.jpg" alt="ROGPHONE" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/blogs/tin-khuyen-mai/nhan-qua-chat-choi-vi-vu-muon-noi" title="">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_2_img.jpg" alt="" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-gigabyte" title="GIGIABYTE">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_4_img.jpg" alt="GIGIABYTE" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/pages/microsoft-official-store?gidzl=33GOKsiqwZC9B11NRIZkDWel4L9sUBvXGNr61N1plZGQ94LLUtQvOX1mHmWW9-vf5o4H269IDijIRplXC0" title="Microsoft">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_5_img.jpg" alt="Microsoft" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 750px;">
                        <div class="slider-item">
                            <div class="slide--image">
                                <a href="https://hangchinhhieu.vn/collections/laptop-gaming-hp-victus" title="HP Victus 16">
                                    <picture>
                                        <img class="owl-lazy" src="/static/js/slide_6_img.jpg" alt="HP Victus 16" style="opacity: 1;" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div>
            <div class="owl-dots">
                <button role="button" class="owl-dot" aria-label="1"><span></span></button><button role="button" class="owl-dot active" aria-label="2"><span></span></button>
                <button role="button" class="owl-dot" aria-label="3"><span></span></button><button role="button" class="owl-dot" aria-label="4"><span></span></button>
                <button role="button" class="owl-dot" aria-label="5"><span></span></button><button role="button" class="owl-dot" aria-label="6"><span></span></button>
                <button role="button" class="owl-dot" aria-label="7"><span></span></button><button role="button" class="owl-dot" aria-label="8"><span></span></button>
                <button role="button" class="owl-dot" aria-label="9"><span></span></button>
            </div>
            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div>
            <div class="owl-dots">
                <button role="button" class="owl-dot" aria-label="10"><span></span></button><button role="button" class="owl-dot" aria-label="11"><span></span></button>
                <button role="button" class="owl-dot" aria-label="12"><span></span></button><button role="button" class="owl-dot" aria-label="13"><span></span></button>
                <button role="button" class="owl-dot" aria-label="14"><span></span></button><button role="button" class="owl-dot" aria-label="15"><span></span></button>
                <button role="button" class="owl-dot" aria-label="16"><span></span></button><button role="button" class="owl-dot" aria-label="17"><span></span></button>
                <button role="button" class="owl-dot" aria-label="18"><span></span></button><button role="button" class="owl-dot" aria-label="19"><span></span></button>
                <button role="button" class="owl-dot active" aria-label="20"><span></span></button><button role="button" class="owl-dot" aria-label="21"><span></span></button>
                <button role="button" class="owl-dot" aria-label="22"><span></span></button><button role="button" class="owl-dot" aria-label="23"><span></span></button>
                <button role="button" class="owl-dot" aria-label="24"><span></span></button><button role="button" class="owl-dot" aria-label="25"><span></span></button>
                <button role="button" class="owl-dot" aria-label="26"><span></span></button><button role="button" class="owl-dot" aria-label="27"><span></span></button>
                <button role="button" class="owl-dot" aria-label="28"><span></span></button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-mainCollection">
    <div class="collection-heading">
        <div class="container">
            <div class="bgwhite-heading">
                <div class="flexbox-heading">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <h1 class="title">{{search}}</h1>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="collection-filter-boxmb">
                            <p class="title-count"><b>2</b> sản phẩm</p>
                            <p class="title-filter">
                                <span>Sắp xếp</span>
                                <svg viewBox="0 0 20 20"><path fill="none" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M12 9v8l-4-4V9L2 3h16z"></path></svg>
                            </p>
                        </div>
                        <div class="collection-sortby">
                            <div class="collection-sortby--title">
                                <span class="icon-filter"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                Sắp xếp
                            </div>
                            <div class="collection-sortby--option">
                                <ul class="sort-by sort-by-content">
                                    <li><span data-value="manual" data-filter="">Sản phẩm nổi bật</span></li>
                                    <li><span data-value="price-ascending" data-filter="(price:product=asc)">Giá: Tăng dần</span></li>
                                    <li class="active"><span data-value="price-descending" data-filter="(price:product=desc)">Giá: Giảm dần</span></li>
                                    <li><span data-value="title-ascending" data-filter="(title:product=asc)">Tên: A-Z</span></li>
                                    <li><span data-value="title-descending" data-filter="(title:product=desc)">Tên: Z-A</span></li>
                                    <li><span data-value="created-ascending" data-filter="(updated_at:product=asc)">Cũ nhất</span></li>
                                    <li><span data-value="created-descending" data-filter="(updated_at:product=desc)">Mới nhất</span></li>
                                    <li><span data-value="best-selling" data-filter="(sold_quantity:product=desc)">Bán chạy nhất</span></li>
                                    <li><span data-value="quantity-descending" data-filter="(quantity:product=desc)">Tồn kho giảm dần</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection-filter">
        <div class="container">
            <div class="wrapper_layered_filter">
                <div class="layered_filter_parent layered_filter_sortby" style="display: none;">
                    <div class="layered_filter_container">
                        <div class="layered_filter_title">
                            <p class="title_filter">
                                <span class="icon-filter">
                                    <svg viewBox="0 0 20 20"><path fill="none" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M12 9v8l-4-4V9L2 3h16z"></path></svg>
                                </span>
                                Sắp xếp
                            </p>
                            <button class="close_filter">
                                <svg viewBox="0 0 19 19" role="presentation">
                                    <path
                                        d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z"
                                        fill-rule="evenodd"
                                    ></path>
                                </svg>
                            </button>
                        </div>
                        <div class="layered_filter_group">
                            <div class="row">
                                <!-- ./filter sortby -->
                                <div class="filter_group filter_sortby col-md-3 col-sm-12 col-xs-12" aria-expanded="false">
                                    <div class="filter_group_block">
                                        <div class="filter_group-subtitle">
                                            <span>Sắp xếp</span>
                                            <span class="icon-control"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                        </div>
                                        <div class="filter_group-content">
                                            <ul class="checkbox-sortby sort-by-content">
                                                <li><span data-value="manual" data-filter="">Sản phẩm nổi bật</span></li>
                                                <li><span data-value="price-ascending" data-filter="(price:product=asc)">Giá: Tăng dần</span></li>
                                                <li class="active"><span data-value="price-descending" data-filter="(price:product=desc)">Giá: Giảm dần</span></li>
                                                <li><span data-value="title-ascending" data-filter="(title:product=asc)">Tên: A-Z</span></li>
                                                <li><span data-value="title-descending" data-filter="(title:product=desc)">Tên: Z-A</span></li>
                                                <li><span data-value="created-ascending" data-filter="(updated_at:product=asc)">Cũ nhất</span></li>
                                                <li><span data-value="created-descending" data-filter="(updated_at:product=desc)">Mới nhất</span></li>
                                                <li><span data-value="best-selling" data-filter="(sold_quantity:product=desc)">Bán chạy nhất</span></li>
                                                <li><span data-value="quantity-descending" data-filter="(quantity:product=desc)">Tồn kho giảm dần</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layered_filter_bottom">
                            <button id="clear-btn-filter" class="btn-filter btn-filter-clear">Hủy</button>
                            <button id="apply-btn-filter" class="btn-filter btn-filter-apply">Áp dụng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection-listproduct" id="collection-body">
        <div class="container">
            <div class="wraplist-collection">
                <div class="listProduct-row listProduct-resize listProduct-filter">
                    <div class="col-md-cus5 col-sm-6 col-xs-6 product-loop" data-id="1086000915">
                        <div class="product-inner product-resize fixheight" style="height: 474px;">
                            <div class="proloop-image">
                                <div class="pro-sale"><span>-5%</span></div>

                                <div class="product--image image-resize" style="height: 355px;">
                                    <div class="product--image__inner">
                                        <div class="prod-img first-image">
                                            <picture>
                                                <source
                                                    media="(max-width: 480px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-91xh_35c2ce310bec43889d61fa3611533045_medium.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-91xh_35c2ce310bec43889d61fa3611533045_medium.png"
                                                />
                                                <source
                                                    media="(min-width: 481px) and (max-width:767px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-91xh_35c2ce310bec43889d61fa3611533045_large.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-91xh_35c2ce310bec43889d61fa3611533045_large.png"
                                                />
                                                <source
                                                    media="(min-width: 768px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-91xh_35c2ce310bec43889d61fa3611533045_large.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-91xh_35c2ce310bec43889d61fa3611533045_large.png"
                                                />
                                                <img
                                                    class="img-loop lazyloaded"
                                                    data-src="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-91xh_35c2ce310bec43889d61fa3611533045_large.png"
                                                    src="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-91xh_35c2ce310bec43889d61fa3611533045_large.png"
                                                    alt=" Laptop Acer Predator Triton 500 SE PT516-52s-91XH (i9-12900H | 32GB | 2TB | GeForce RTX™ 3080Ti 16GB | 16' WQXGA 240Hz | Win 11) "
                                                />
                                            </picture>
                                        </div>
                                        <div class="prod-img second-image hovered-img hidden-xs">
                                            <picture>
                                                <source
                                                    media="(max-width: 480px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h_0d99e789f1914c57bddd258bd255600c_thumb.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h_0d99e789f1914c57bddd258bd255600c_thumb.png"
                                                />
                                                <source
                                                    media="(min-width: 481px) and (max-width:767px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h_0d99e789f1914c57bddd258bd255600c_small.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h_0d99e789f1914c57bddd258bd255600c_small.png"
                                                />
                                                <source
                                                    media="(min-width:768px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h_0d99e789f1914c57bddd258bd255600c_large.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h_0d99e789f1914c57bddd258bd255600c_large.png"
                                                />
                                                <img
                                                    class="img-loop ls-is-cached lazyloaded"
                                                    data-src="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h_0d99e789f1914c57bddd258bd255600c_large.png"
                                                    src="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h_0d99e789f1914c57bddd258bd255600c_large.png"
                                                    alt=" Laptop Acer Predator Triton 500 SE PT516-52s-91XH (i9-12900H | 32GB | 2TB | GeForce RTX™ 3080Ti 16GB | 16' WQXGA 240Hz | Win 11) "
                                                />
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <a
                                    href="/products/laptop-acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h"
                                    class="proloop-link quickview-product"
                                    data-handle="/products/laptop-acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h"
                                    title="Laptop Acer Predator Triton 500 SE PT516-52s-91XH (i9-12900H | 32GB | 2TB | GeForce RTX™ 3080Ti 16GB | 16' WQXGA 240Hz | Win 11)"
                                ></a>
                            </div>
                            <div class="proloop-detail">
                                <h3>
                                    <a href="/products/laptop-acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h" class="quickview-product" data-handle="/products/laptop-acer-predator-triton-500-se-pt516-52s-91xh-i9-12900h">
                                        Laptop Acer Predator Triton 500 SE PT516-52s-91XH (i9-12900H | 32GB | 2TB | GeForce RTX™ 3080Ti 16GB | 16' WQXGA 240Hz | Win 11)
                                    </a>
                                </h3>
                                <p class="proloop--price">
                                    <span class="price">104,990,000₫</span>

                                    <span class="price-del">109,990,000₫</span>
                                </p>
                                <div class="proloop--review">
                                    <!--  check review -->

                                    <div class="haravan-product-reviews-badge" data-id="1039558521">
                                        <div class="hrv-product-reviews-star" data-score="0" data-number="5" title="Not rated yet!">
                                            <i data-alt="1" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i>&nbsp;
                                            <i data-alt="2" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i>&nbsp;
                                            <i data-alt="3" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i>&nbsp;
                                            <i data-alt="4" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i>&nbsp;
                                            <i data-alt="5" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i><input name="score" type="hidden" readonly="" />
                                        </div>
                                        <p>(0 đánh giá)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-cus5 col-sm-6 col-xs-6 product-loop" data-id="1085958727">
                        <div class="product-inner product-resize fixheight" style="height: 474px;">
                            <div class="proloop-image">
                                <div class="pro-sale"><span>-7%</span></div>

                                <div class="product--image image-resize" style="height: 355px;">
                                    <div class="product--image__inner">
                                        <div class="prod-img first-image">
                                            <picture>
                                                <source
                                                    media="(max-width: 480px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-75e3_f72be848feb04825a99ce7ca0776fe89_medium.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-75e3_f72be848feb04825a99ce7ca0776fe89_medium.png"
                                                />
                                                <source
                                                    media="(min-width: 481px) and (max-width:767px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-75e3_f72be848feb04825a99ce7ca0776fe89_large.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-75e3_f72be848feb04825a99ce7ca0776fe89_large.png"
                                                />
                                                <source
                                                    media="(min-width: 768px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-75e3_f72be848feb04825a99ce7ca0776fe89_large.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-75e3_f72be848feb04825a99ce7ca0776fe89_large.png"
                                                />
                                                <img
                                                    class="img-loop lazyloaded"
                                                    data-src="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-75e3_f72be848feb04825a99ce7ca0776fe89_large.png"
                                                    src="//product.hstatic.net/1000233206/product/acer_predator_triton_500_se_pt516-52s-75e3_f72be848feb04825a99ce7ca0776fe89_large.png"
                                                    alt=" Laptop Acer Predator Triton 500 SE PT516-52s-75E3 (i7-12700H | 16GB | 1TB | GeForce RTX™ 3070Ti 8GB | 16' WQXGA 240Hz | Win 11) "
                                                />
                                            </picture>
                                        </div>
                                        <div class="prod-img second-image hovered-img hidden-xs">
                                            <picture>
                                                <source
                                                    media="(max-width: 480px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h_12330454f53e401d8f3aba8dfda85dfd_thumb.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h_12330454f53e401d8f3aba8dfda85dfd_thumb.png"
                                                />
                                                <source
                                                    media="(min-width: 481px) and (max-width:767px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h_12330454f53e401d8f3aba8dfda85dfd_small.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h_12330454f53e401d8f3aba8dfda85dfd_small.png"
                                                />
                                                <source
                                                    media="(min-width:768px)"
                                                    data-srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h_12330454f53e401d8f3aba8dfda85dfd_large.png"
                                                    srcset="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h_12330454f53e401d8f3aba8dfda85dfd_large.png"
                                                />
                                                <img
                                                    class="img-loop ls-is-cached lazyloaded"
                                                    data-src="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h_12330454f53e401d8f3aba8dfda85dfd_large.png"
                                                    src="//product.hstatic.net/1000233206/product/acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h_12330454f53e401d8f3aba8dfda85dfd_large.png"
                                                    alt=" Laptop Acer Predator Triton 500 SE PT516-52s-75E3 (i7-12700H | 16GB | 1TB | GeForce RTX™ 3070Ti 8GB | 16' WQXGA 240Hz | Win 11) "
                                                />
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <a
                                    href="/products/laptop-acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h"
                                    class="proloop-link quickview-product"
                                    data-handle="/products/laptop-acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h"
                                    title="Laptop Acer Predator Triton 500 SE PT516-52s-75E3 (i7-12700H | 16GB | 1TB | GeForce RTX™ 3070Ti 8GB | 16' WQXGA 240Hz | Win 11)"
                                ></a>
                            </div>
                            <div class="proloop-detail">
                                <h3>
                                    <a href="/products/laptop-acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h" class="quickview-product" data-handle="/products/laptop-acer-predator-triton-500-se-pt516-52s-75e3-i7-12700h">
                                        Laptop Acer Predator Triton 500 SE PT516-52s-75E3 (i7-12700H | 16GB | 1TB | GeForce RTX™ 3070Ti 8GB | 16' WQXGA 240Hz | Win 11)
                                    </a>
                                </h3>
                                <p class="proloop--price">
                                    <span class="price">64,990,000₫</span>

                                    <span class="price-del">69,990,000₫</span>
                                </p>
                                <div class="proloop--review">
                                    <!--  check review -->

                                    <div class="haravan-product-reviews-badge" data-id="1039533770">
                                        <div class="hrv-product-reviews-star" data-score="0" data-number="5" title="Not rated yet!">
                                            <i data-alt="1" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i>&nbsp;
                                            <i data-alt="2" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i>&nbsp;
                                            <i data-alt="3" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i>&nbsp;
                                            <i data-alt="4" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i>&nbsp;
                                            <i data-alt="5" class="star-off-png" title="Not rated yet!" style="color: rgb(236, 186, 85);"></i><input name="score" type="hidden" readonly="" />
                                        </div>
                                        <p>(0 đánh giá)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
